* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

i {
  font-size: 20px;
}
img {
  max-inline-size: 100%;
  transition: opacity 0.3s;
}
body,
html {
  background: #F3F3F3;
  /* background: linear-gradient(
    0deg,
    rgba(120, 120, 120, 0.1) 70%,
    rgba(0, 128, 255, 0.13) 100%
  ); */
  background-repeat: no-repeat;
  /* max-inline-size: 700px; */
  margin: auto;
  padding-block-end: 3rem;
}

header.scrolled {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
  
  background: rgba(255, 255, 255, 0.4); /* semi-transparent black */
  backdrop-filter: blur(8px);     /* blur the background behind */
  -webkit-backdrop-filter: blur(8px); /* Safari support */

  
  
  .input-box {
    border: 1px solid gray;
  }
}
header.header_black, nav.header_black{
  background: #313131;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  backdrop-filter: blur(8px);     /* blur the background behind */
  -webkit-backdrop-filter: blur(8px); /* Safari support */

}
nav.header_black{
  background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  backdrop-filter: blur(8px);     /* blur the background behind */
  -webkit-backdrop-filter: blur(8px); /* Safari support */

  color: #fff;
}

header {
  position: sticky;
  inset-block-start: -10px;
  z-index: 2;
  padding: 2rem;
  .search-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-inline-size: 100%;
    gap: 1rem;

    .input-box {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #8a8a8a;
      background: #fff;
      border-radius: 100px;
      padding: 1rem;
      inline-size: 100%;
    }
    i.cart {
      border-radius: 100px;
      background: #fff;
      min-block-size: 50px;
      min-inline-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #393939;
    }
  }
}
main{
  padding: 0 !important;
}
section{
  padding: 2rem;
  
}

main {
  padding: 2rem;
  

  .slide-image-card {
    block-size: 200px;
    inline-size: 100%;
    background: #3da6e6;
    background: #fff;
    border-radius: 20px;
    padding: 0 2rem;
   
  }

  .slide-image-card {
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 2rem;
    min-inline-size: 100%;
    min-block-size: 300px;

    img {
      inline-size: 100%;
      object-fit: cover;
      max-block-size: 100%;
      border-radius: 20px;
      block-size: 100%;
    }
  }

  section {
    margin-block-start: 2rem;

    .list-view {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      margin-block-start: 1rem;
      flex-wrap: wrap;

      .item {
        background: #fff;
        border-radius: 10px;
        text-align: center;
        inline-size: 100px;
        block-size: 100px;
        max-block-size: min-content;
        padding: 0.8rem 0.4rem;
        text-wrap: nowrap;
        overflow: hidden;

        text-align: start;
        overflow: hidden;
        

        img {
          max-block-size: 100%;
          block-size: 100%;
          inline-size: 100%;
          object-fit: contain;
        }
        p {
          margin-block-start: 0.5rem;
          font-weight: 400;
          color: #b5b5b5;
          font-size: 14px;
        }
      }
    }
  }

  section.deals {
    .list-view {
      display: flex;
      flex-flow: row wrap;
      
      gap: clamp(1rem, 2vw, 3rem);

      gap: 1rem;
      .item {
        inline-size: 45%;
        max-inline-size: 170px;
        min-inline-size: 130px;
        min-block-size: 200px;
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: column;
      }
      .heart {
        position: absolute;
        inset-block-start: 1rem;
        inset-inline-end: 1rem;
      }
      img {
        block-size: calc(100% - 5rem);
      }
      p {
        text-overflow: unset;
        text-wrap: wrap;
        color: #000;
        font-weight: 600;
      }
    }
  }
}

nav {
  position: fixed;
  inset-block-end: 0;
  background: #fff;
  inline-size: 100%;
  max-inline-size: 700px;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.loader {
  position: fixed;
  inline-size: 100%;
  max-inline-size: 700px;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  background: #fff;
  text-align: center;
  block-size: 100vh;
  padding: 4rem;
  color: #b2b2b2;
  inset-block-start: 0;
  z-index: 10;

  /* Remove after Test */
}


/*---------- category ----------*/

section.category{
  
  .item{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
  }
}

.item{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
}

/* Section lineup */

.lineup {
  margin-block-start: 2rem;
  padding: 2rem 0;
  
  h3{
    font-size: 23px;
    margin-inline-start: 2rem;
  }
  .flex {
    /* background: #fff; */
    margin-block-start: 2rem;

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 1rem .1rem;
    
    
    .item {
      display: flex;
      flex-flow: column;
      text-align: start !important;
      padding: 2rem;
      flex: none;
      scroll-snap-align: center;
      /* text-align: center; */
      /* min-inline-size: 100%; */
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
      background: #fff;
      margin-inline: 1rem !important;
      border-radius: 15px;
      max-inline-size: 295px;
      
      h3{
        padding: 0 0 0 0;
        margin: 0 0 0 0;
      }

      img {
        margin-top: 2rem;
        inline-size: 100% !important;
        block-size: auto !important;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
        
      }
      
      .detail{
        margin-top: 2rem;
        color: #303030;
        font-size: 13px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          background: #095FFF;
          padding: .3rem .7rem;
          color: #fff;
          border-radius: 15px;
        }
      }
      

      .btn-wrap {
        margin-block-start: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
          background: #0228a5;
          color: #fff;
          border-radius: 100px;
          padding: 0.5rem 1rem;
          text-decoration: none;
          font-weight: 300;
          /* inline-size: max-content; */
          text-wrap: nowrap;
        }
        p {
          color: #0228a5;
          margin: unset;
          font-weight: 600;
        }
      }
    }
  }
}


video{
  max-width: 100%;
}

section.video{
  padding: 2rem .5rem;
  background: #000;
  border-radius: 20px;
  color: #fff;
  
  
  .box{
    padding: .8rem;
    border-radius: 20px;
    padding-block-end: 3.5rem;
  }
  video{
    border-radius: 10px;
  }
  
  h3{
    margin-block: 1rem;
  }
  p{
    margin-block-start: 1rem;
    font-size: 14px;
    color: #E8E8E8;
    line-height: 1.3rem;
    letter-spacing: 1px;
  }
  
  .box.gray{
    margin-block-start: 2rem;
    background: #282828;
    
    video{
      border-radius: 20px;
    }
  }
  
  

  
}

section.video.white{
  background: #fff;
    .box.white{
    background: #fff;
    color: #000;
    p{
      color: #000;
    }
  }
  
  
  .box.orange{
    background: #F17600;
  }
}


footer{
  background: #000;
  color: #fff;
  padding: 2rem;
  height: 100vh;
  
  img{
    width: 80px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .content{
    margin-top: 2rem;
    display: flex;
    align-items: start;
    gap: clamp(1rem, 3rem, 4rem);
    
    li.title{
      font-weight: 700;
      margin-bottom: 1rem;
    }
    li{
      list-style: none;
      line-height: 2rem;
      width: max-content;
    }
  }
  
  .social{
    margin-top: 2rem;
    p.title{
      font-weight: 700;
    }
    
    .icons{
      margin-top: 2rem;
      display: flex;
      gap: clamp(1rem, 2vw, 3rem);
      a{
        width: 50px;
        height: 50px;
        overflow: hidden;
      }
    }
  }
}


.layer.product_list{
  .list{
    margin-top: 0;
    .item{
      box-shadow: none;
      display: flex;
      gap: 2rem;
      position: relative;
      margin-top: 2rem;
      background: #fff;
      padding: 2rem 1rem;
      i{
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #B7B7B7;
        display: none; /* Heart removed from list*/
      }
      img{
        width: 100px;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
      }
      p{
        line-height: 1.5rem;
      }
      .product_name{
        font-weight: 400;
      }
      .price{
        font-weight: 600;
        font-size: 18px;
      }
      .delivery{
        font-size: 13px;
      }
    }
  }
}




.layer.search{
  height: 100vh;
  .nav{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid #D6D6D6;
    
    input{
      background: transparent;
      font-size: 18px;
      width: 100%;
    }
  }
  
  .history-wrap{
    .item{
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      box-shadow: none;
    }
  }
}


.suggestions {
  background: white;
  border: 1px solid #ddd;
  border-top: none;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.suggestion {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.suggestion:hover {
  background-color: #f0f0f0;
}

.hidden 
{
  display: none;
}
.item:active{
  scale: 0.9;
}
.empty{
  text-align: center;
  inline-size: 100%;
  font-weight: 600;
  color: #848484;
}