* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
svg {
  block-size: 100px;
  opacity: 0;
}
.logo {
  max-inline-size: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  inset-block-start: 1.5rem;
  z-index: -1;
  block-size: 200px;
  inline-size: 100%;
  object-fit: cover;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  overflow: hidden;
}
.form {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 2rem;
  padding: 2rem 0;

  position: absolute;
  inline-size: 400px;
  max-inline-size: 84%;
  z-index: 1;
  background: #fff;
  scale: 0.9;
  overflow: hidden;

  h1 {
    text-align: center;
    position: absolute;
    inline-size: 100%;
    z-index: 3;
    inset-block-start: 2.5rem;
  }
  .input-field {
    padding: 2rem;
    display: flex;
    flex-flow: column;

    label {
      transform: translateY(-20px);
      font-size: 15px;
      color: #595959;
      inline-size: max-content;
    }
    input {
      border-block-end: 1px solid #c3c3c3;
      padding: 0.5rem 0;
      font-size: 15px;

      &:focus + label {
        transform: translateY(-40px);
        font-size: 13px;
      }
      &:valid + label {
        transform: translateY(-40px);
        font-size: 13px;
      }
    }
    button {
      padding: 0.9rem;
      background: #000000;
      color: #fff;
      border-radius: 100px;
      font-weight: 600;
      margin-block-start: 0.5rem;
    }
    p {
      text-align: center;
      margin-block-start: 1rem;
      font-size: 12px;
    }
  }
}

.login {
  position: absolute;
  max-inline-size: 84%;
  z-index: -1;
}
.open {
  animation: slide 0.7s ease;
  z-index: 1;
  opacity: 1;
  scale: 1;
}
@keyframes slide {
  0% {
    z-index: -1;
    opacity: 1;
  }
  30% {
    z-index: -1;
    transform: translateX(100%);
  }
  50% {
    z-index: 1;
  }
  100% {
    transform: translateX(0);
  }
}
