*{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: none;
  transition: all .3s ease;
}


body{
    background: #ffffff;
max-inline-size: 700px;
margin: auto;
padding-block-end: 3rem;
}
main{
    
    padding-block-start: 0;
}
section{
    padding: 2rem;
}

.overview{
    inline-size: 100%;
    block-size: 100%;
    background: #fff;
    
    .main-detail{
        
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            span{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
            }
            i {
                font-size: 23px;
            }
            
        }
        
        #productName{
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 1px;
            border-top: 1px solid #E3E3E3;
            color: #777777;
            padding-top: 2rem;
            line-height: 1.2rem;
        }
        .big-img-box{
            margin-block-start: 2rem;
            .main-img{
                block-size: 240px;
                margin: auto;
                display: block;;
            }
            .sub-img-wrap{
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 2rem;
                margin: 2rem 0;
                
                span{
                    block-size: 70px;
                    border: 1px solid #E8E8E8;
                    padding: .4rem;
                    border-radius: 10px;
                    
                    img{
                        block-size: 100%;
                    }
                }
            }
        }
        
        .product-detail{
            .mfg{
                margin: .6rem 0;
                color: #C5C5C5;
                font-size: 14px;
                span{
                    color: #00B2FF;
                    margin-inline-end: 10px;
                }
            }
            
            .price-wrap, .coutn-wrap{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3{
                    display: inline;
                    padding-inline-end: .5rem;
                }
                h3.old-price{
                    color: #c5c5c5;
                    font-size: 13px;
                    text-decoration: line-through;
                }
                .coutn-wrap{
                    gap: 1rem;
                    span{
                        block-size: 30px;
                        inline-size: 30px;
                        border: 1px solid #C5C5C5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;
                    }
                    span.increment{
                        border-color: black;
                    }
                }
            }
            p.color-title{
                font-weight: bold;
                margin: 1rem 0;
            }
            .color-wrap{
                display: flex;
                align-items: center;
                gap: 1rem;
                flex-wrap: wrap;
                .color-elem{
                    border: 1px solid #CCCCCC;
                    border-radius: 100px;
                    inline-size: 160px;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding: .3rem;
                    min-inline-size: 100px;
                    max-inline-size: 200px;
                    
                    p{
                        margin: .4rem .6rem;
                        color: #9E9E9E;
                        font-weight: 400;
                        font-size: 14px;
                    }
                    
                    span{
                        min-block-size: 50px;
                        min-inline-size: 50px;
                        background: #F2C1C1;
                        border-radius: 100%;
                        display: block;
                    }
                }
            }
            
            border-bottom: 1px solid #DBDBDB;
            padding-bottom: 1rem;
        }
    }
}



.varient{
    
    padding: 0;
    h3{
        padding: 0rem 2rem;
        padding-block-start: 0;
        font-size: 24px;
        margin-block: 1rem;
        
        span{
            color: #B2B2B2;
            font-weight: 500;
        }
    }
    h3.color{
        margin-top: 4rem;
    }
}
.color-varient{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-start: 1.4px solid #B2B2B2;
    
    /* curved design*/
    border: 1.4px solid #C6C6C6;
    margin-inline: 2rem;
    border-radius: 10px;
    margin-top: 1rem;
    color: #C6C6C6;
    
    p{
        font-weight: 600;
    }
    span{
        display: flex;
        align-items: center;
        gap: .6rem;
        p{
            
            font-weight: normal;
        }
    }
    
}


.buy-btn-wrap{
    position: sticky;
    inset-block-end: 0;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    inline-size: 100%;
    button{
        padding: 1rem 2rem;
        font-weight: 400;
        font-size: 17px;
        border-radius: 10px;
        background: #09a0ff;
        color: #fff;
        
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.17);
        inline-size: 100%;
        max-inline-size: 370px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row-reverse;
        font-weight: 600;
        font-size: 20px;
        i{
            font-size: 24px;
        }
    }
    
}





.buy-page{
    section{
        
        span{
                height: 20px;
                width: 20px;
                background: black;
                border-radius: 100px;
                display: block;
            }
            span.none   
            {
                background: transparent;
                border: 1px solid #000;
            }
        .title-bar{
            background: #EDEDED;
            padding: .6rem 1.6rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            
            
            p{
                font-weight: 700;
                font-size: 13px;
                
            }
        }
        
        .box{
            padding: .6rem 1.6rem;
            margin-top: 1rem;
            
            .text-wrap{
                display: flex;
                align-items: center;
                gap: 2rem;
                
            }
                .input-wrap {
                    margin-inline-start: 3rem;
                    margin-block-start: 2rem;
                    input {
                        border: 1px solid #C2C2C2;
                        padding: 1rem;
                        margin-block-start: .5rem;
                        border-radius: 6px;
                        width: 100%;
                    }
                    
                    #date, #cvv{
                        width: 100px;
                    }
                    #cvv{
                        margin-inline-start: 1rem;
                    }
                    
                    button{
                        background: #000;
                        color: #fff;
                        border-radius: 6px;
                        padding: 1rem 1.5rem;
                        margin: auto;
                        display: block;
                        margin-top: 2rem;
                        font-weight: 600;
                        font-size: 16px;
                        margin-right: 0;
                    }
                }
        }
        
        .box.card{
            height: 40px;
            overflow: hidden;
            border: 1px solid #EAEAEA;
            opacity: .5;
        }
    }
}

.order-placed-message-wrap{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background: #fff;
}
.order-placed-message-wrap .message-box{
    padding: 2rem;
    
    background: #fff;
   
    text-align: center;
}

.order-placed-message-wrap .message-box h2{
    margin: 2rem 0;
    margin-top: 0;
    font-weight: 500;
}
.order-placed-message-wrap .message-box p{
    color: #B6B6B6;
    letter-spacing: 1px;
    margin: .8rem 0;
    font-size: 12px;
    span{
        font-weight: 500;
    }
    span.b{
        color: #008B1F;
        
    }
}

.order-placed-message-wrap .message-box button.back-to-purchase{
                        color: #fff;
                        border-radius: 6px;
                        padding: 1rem 1.5rem;
                        margin: auto;
                        display: block;
                        margin-top: 2rem;
                        font-weight: 600;
                        font-size: 16px;
                        background: #008B1F;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
                        
}

section.related{
    div#related{
        a{
            width: 300px;
        }
    }
}

.hidden{
    display: none !important;
}